.card {
  width: 213;
  height: 69;
  background: #FFFFFF;
  border-radius: 3px;
  border-width: 1px;
  border: 1px solid #E8E8E8 !important;
  margin-top: 20px;
  padding: 10px;
}

.title {
  font-family: Noto Sans;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  color: #253368;
}

.description {
  font-family: Noto Sans;
  font-weight: 400;
  font-size: 7px;
  color: #253368;
}

.tag{
  font-family: Microsoft Sans Serif;
  font-weight: 400;
  font-size: 7px;
  line-height: 100%;
  letter-spacing: 0%;
  color :#707691
}