.buttonSideBar {
  margin-right:10px ;
}
.componentSideBar {
  display: flex;
  justify-content: center;
  padding: 10px;
  top: 17px !important;
  left: 12px !important;
}
.sideBar{
  background-color: #E9F3FF !important ; 
}
.menu {
  background-color: #E9F3FF !important ;
  border: none !important ;
}
