.card {
  width: 442px;
  height: 224px;
  background-color: #FFFFFF;
  box-shadow: 5px 4px 4px 0px #00000040;
  padding: 35px;
  
}

.title {
  font-family: Inter;
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #C1BDBD  ;
}

.description {
  font-family: Inter;
  color: #C1BDBD  ;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0%;

}