.header {
  background-color: #E9F3FF7D !important;
  box-shadow: 0px 4px 8px 0px #0000000F !important;
  padding: 0px !important;
}

.logo {
  width: 85;
  height: 35.833335876464844;
  top: 9.08px;
  left: 59px;
}